#tt-treechildren:-moz-tree-row(dropOn),
#tt-treechildren:-moz-tree-row(dropBefore),
#tt-treechildren:-moz-tree-row(dropAfter) {
  border: #F0F 1px dashed;
}

#tt-treechildren:-moz-tree-image {
  /*noinspection CssUnknownTarget*/
  list-style-image: url(chrome://mozapps/skin/places/defaultFavicon.png);
  width: 16px; /* there are websites with at least 32x32px icons, they look ugly in our tree */
}

#tt-panel {
  border: none;
}

#tt-treechildren:-moz-tree-row(quickSearch) {
  background-color: lightblue;
}

#tt-treechildren:-moz-tree-row(selected) {
  background-color: rgb(198, 206, 230);
  color: red;
}

#tt-treechildren:-moz-tree-cell-text(selected) {
  color: black;
}

#tt-treechildren:-moz-tree-twisty {
  list-style-image: none;
}

#tabbrowser-tabs {
  /*visibility: collapse;*/
}

#nav-bar .toolbarbutton-1:not([type=menu-button]),
#nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button,
#nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
  padding: 0;
  -moz-box-pack: center;
}

#back-button {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

#main-window[sizemode="maximized"] #TabsToolbar:not([collapsed="true"]) + #nav-bar {
  margin-top: 2px;
}

#TabsToolbar {
  margin-bottom: 0;
  min-height: 0;
  padding: 0;
}

#back-button {
  height: 24px;
}

.findbar-button > .toolbarbutton-text,
#nav-bar .toolbarbutton-1 > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1 > .toolbarbutton-text,
#nav-bar .toolbarbutton-1 > .toolbarbutton-badge-container,
#nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
window:not([chromehidden~="toolbar"]) #urlbar-wrapper > .toolbarbutton-1:-moz-any([disabled],
:not([open]):not([disabled]):not(:active)) > .toolbarbutton-icon {
  border: none;
  padding-bottom: 0;
  padding-top: 0;
}

#urlbar,
.searchbar-textbox {
  border-image: none;
  border-style: solid;
  border-width: 2px;
  -moz-border-top-colors: #ACA899 #716F64;
  -moz-border-right-colors: #FFF #F1EFE2;
  -moz-border-bottom-colors: #FFF #F1EFE2;
  -moz-border-left-colors: #ACA899 #716F64;
}

#main-window[sizemode="maximized"] > #titlebar {
  visibility: collapse;
}