#tt-treechildren:-moz-tree-row(dropOn),
#tt-treechildren:-moz-tree-row(dropBefore),
#tt-treechildren:-moz-tree-row(dropAfter) {
  border: #F0F 1px dashed;
}

#tt-treechildren:-moz-tree-image {
  /*noinspection CssUnknownTarget*/
  list-style-image: url("chrome://mozapps/skin/places/defaultFavicon.png");
  width: 16px; /* there are websites with at least 32x32px icons, they look ugly in our tree */
}

#tt-panel {
  border: none;
}

#tt-treechildren:-moz-tree-row(quickSearch)
{
  background-color: lightblue;
}

/*tree#tt-tree-feedback {*/
  /*margin: 0px;*/
/*}*/

/*tree#tt-tree-feedback>treechildren {*/
  /*border: none;*/
/*}*/
/*
tree#tt>treechildren::-moz-tree-twisty {
  list-style-image: url("");
}*/