/* Tree */

#tt,
#tt-tree-feedback {
  margin-left: 0;
  margin-right: 0;
}

#tt-treechildren:-moz-tree-image,
#tt-treechildren-feedback:-moz-tree-image {
  list-style-image: url(chrome://mozapps/skin/places/defaultFavicon.png);
  width: 16px; /* there are websites with at least 32x32px icons, they look ugly in our tree */
}

#tt-treechildren:-moz-tree-twisty,
#tt-treechildren-feedback:-moz-tree-twisty {
  list-style-image: none;
}

#tt-treechildren:-moz-tree-row(dropOn),
#tt-treechildren:-moz-tree-row(dropBefore),
#tt-treechildren:-moz-tree-row(dropAfter) {
  border: #F0F 1px dashed;
}

#tt-treechildren:-moz-tree-row(quickSearch) {
  background-color: lightblue;
}

#tt-treechildren:-moz-tree-row(selected) {
  background-color: rgb(218, 226, 250);
}

#tt-treechildren:-moz-tree-cell-text(selected) {
  color: black;
}

#tt-treechildren:-moz-tree-cell-text(hover) {
  text-decoration: underline;
}

/* Other */

#tt-panel {
  border: none;
}

#tt-drop-indicator {
  pointer-events: none; /* preventing the arrow flickering when mouse pointer goes over that arrow and that arrow overlaps 'toolbar' */
}

/* Full screen mode */

#tt-toolbar[moz-collapsed="true"] { /* do not collapse in fullscreen mode*/
  visibility: visible;
}

#tt-fullscr-toggler {
  width: 1px;
  background: none repeat scroll 0 0 #000;
}

#main-window:not([inFullscreen]) #tt-fullscr-toggler {
  display: none;
}

#main-window[inFullscreen] #tt-sidebar,
#main-window[inFullscreen] #tt-splitter {
  visibility: collapse;
}

#main-window[inFullscreen] #tt-fullscr-toggler:hover + #tt-sidebar,
#main-window[inFullscreen] #tt-sidebar:hover {
  visibility: visible;
}